body {
  font-family: Roboto, sans-serif;
  text-align: center;
  color: orange;
  height: 100000vh;
}

div {
  position: fixed;
  background-color: orange;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
