body {
  margin: 0;
  height: 100vh;
}

h1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

div {
  position: fixed;
  width: 200px;
  height: 200px;
  cursor: pointer;
  background-color: orange;
}
